Overview

Business Understanding
    Include stakeholder and key business questions

Data Understanding and Analysis
    Source of data

Description of data
    Three visualizations (the same visualizations presented in the slides and notebook)

Conclusion
    Summary of conclusions including three relevant findings

Outline From https://github.com/learn-co-curriculum/dsc-project-template/tree/example-aab

### Overview
For this project, you will use exploratory data analysis to generate insights for a business stakeholder.



### Business Problem
Microsoft sees all the big companies creating original video content and they want to get in on the fun. 
They have decided to create a new movie studio, but they don’t know anything about creating movies. 
You are charged with exploring what types of films are currently doing the best at the box office. 
You must then translate those findings into actionable insights that the head of Microsoft's new movie studio 
can use to help decide what type of films to create.

### Data
1. directors influence the performance of the movie
    profit of each directors
    not median bc of how long they have been directing
    mean can be 
2. genres to go into
    look at directors that do well in these genres
3. 

### Methods
- standard for performance = high imdb score and ticket sales
- directros 


### Results

### Conclusions

#maybe
### Next Step

### Repository structure

### Thank you

In [2]:
### IMPORTS
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
%matplotlib inline

### DATAFRAME DEFINITIONS
# define all dataframes for later
gross_df = pd.read_csv('data/bom.movie_gross.csv.gz')
movies_df = pd.read_csv('data/tmdb.movies.csv.gz')
budgets_df = pd.read_csv('data/tn.movie_budgets.csv.gz')
# tsv files have to be read with \t (tab spcaes) as their delimiter
info_df = pd.read_csv('data/rt.movie_info.tsv.gz',delimiter='\t')
# file has an issue with encoding, read as cp850 or it throws an error
reviews_df = pd.read_csv('data/rt.reviews.tsv.gz', delimiter='\t', encoding='cp850')

In [3]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [4]:
!ls data

im.db

In [5]:
#################################
# REQUIRES UNZIPPING data/zipped_files/im.db.zip
# INTO DIRECOTRY data/unzipped AS im.db
#################################
conn = sqlite3.connect('data/im.db')
# call this later => imdb_df = pd.read_sql('''<QUERY>''',conn)

In [4]:
#conn = sqlite3.connect('data/unzipped/im.db')

In [6]:
cursor = conn.cursor()

In [6]:
###will return empty list bc nothing is executed as a query

#cursor.fetchall()

[]

In [7]:
#to see all of the tables in the sql schema

schema_df = pd.read_sql("""

SELECT *
FROM sqlite_master

""", conn)

schema_df

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

![database schema flow chart](./images/db_schema.jpeg "Flowchart for data from IMDB is located in a SQLite database")

In [8]:
print(schema_df['sql'].iloc[0])

CREATE TABLE "movie_basics" (
"movie_id" TEXT,
  "primary_title" TEXT,
  "original_title" TEXT,
  "start_year" INTEGER,
  "runtime_minutes" REAL,
  "genres" TEXT
)

In [15]:
gross_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [16]:
list(gross_df['title'])

['Toy Story 3',
 'Alice in Wonderland (2010)',
 'Harry Potter and the Deathly Hallows Part 1',
 'Inception',
 'Shrek Forever After',
 'The Twilight Saga: Eclipse',
 'Iron Man 2',
 'Tangled',
 'Despicable Me',
 'How to Train Your Dragon',
 'Clash of the Titans (2010)',
 'The Chronicles of Narnia: The Voyage of the Dawn Treader',
 "The King's Speech",
 'Tron Legacy',
 'The Karate Kid',
 'Prince of Persia: The Sands of Time',
 'Black Swan',
 'Megamind',
 'Robin Hood',
 'The Last Airbender',
 'Little Fockers',
 'Resident Evil: Afterlife',
 'Shutter Island',
 'Salt',
 'Sex and the City 2',
 'The Tourist',
 'The Expendables',
 'Grown Ups',
 'Knight & Day',
 'True Grit',
 "Gulliver's Travels",
 'Percy Jackson & The Olympians: The Lightning Thief',
 'The Social Network',
 "Valentine's Day",
 "The Sorcerer's Apprentice",
 'Due Date',
 'Eat Pray Love',
 'Yogi Bear',
 'Red',
 'Paranormal Activity 2',
 'The A-Team',
 'Jackass 3-D',
 'The Other Guys',
 'Unstoppable',
 'Step Up 3-D',
 'The Book of Eli',
 'The Town',
 'Date Night',
 "Legend of the Guardians: The Owls of Ga'Hoole",
 'The Wolfman',
 'The Bounty Hunter',
 'Saw 3D',
 'Wall Street: Money Never Sleeps',
 'The Fighter',
 'Predators',
 'A Nightmare on Elm Street (2010)',
 'Dear John',
 'Cats & Dogs: The Revenge of Kitty Galore',
 'Tooth Fairy',
 'Life as We Know It',
 'Hereafter',
 'The Girl with the Dragon Tattoo',
 'Love and Other Drugs',
 'Aftershock (Tangshan Dadizhen)',
 'Killers',
 'Kick-Ass',
 'Green Zone',
 'Nanny McPhee Returns',
 'Get Him to the Greek',
 'Burlesque',
 'The Last Song',
 'Dinner for Schmucks',
 'Marmaduke',
 'Piranha 3D',
 'Oceans',
 'Edge of Darkness',
 'Vampires Suck',
 'Letters to Juliet',
 'The Back-Up Plan',
 'If You Are the One 2 (Fei Cheng Wu Rao II)',
 'Diary of a Wimpy Kid',
 'Easy A',
 'Hubble 3D',
 'Takers',
 'Tales from Earthsea',
 'Legion (2010)',
 'The American',
 'The Last Exorcism',
 'The Next Three Days',
 'The Girl Who Played with Fire',
 'Skyline',
 'Hot Tub Time Machine',
 'Devil',
 '127 Hours',
 "Tyler Perry's Why Did I Get Married Too?",
 'Secretariat',
 'The Ghost Writer',
 'Morning Glory',
 'Remember Me',
 'Cop Out',
 'The Crazies',
 'From Paris with Love',
 'Daybreakers',
 'Alpha and Omega',
 'The Switch',
 "She's Out of My League",
 'Death at a Funeral (2010)',
 'How Do You Know',
 'Charlie St. Cloud',
 'Scott Pilgrim vs. the World',
 'Heartbreaker',
 'The Spy Next Door',
 'The Good, the Bad, the Weird',
 'Machete',
 "The Girl Who Kicked the Hornet's Nest",
 'The Man From Nowhere',
 'When in Rome',
 'My Name is Khan',
 'Going the Distance',
 'The Concert',
 'Agora',
 'For Colored Girls',
 "Brooklyn's Finest",
 'Furry Vengeance',
 'Faster',
 'The Kids Are All Right',
 'You Will Meet a Tall Dark Stranger',
 'The Secret in Their Eyes',
 'Avatar: Special Edition',
 'Leap Year',
 'You Again',
 'Mesrine: Killer Instinct',
 'The Losers',
 'Case 39',
 'Ramona and Beezus',
 'Splice',
 'Fair Game (2010)',
 'Let Me In',
 "Mao's Last Dancer",
 'Just Wright',
 'Our Family Wedding',
 'My Soul to Take',
 '71 Into the Fire',
 'I Love You, Phillip Morris',
 'Country Strong',
 'Another Year',
 'Youth in Revolt',
 'Buried',
 '[Rec] 2',
 'Repo Men',
 'A Prophet (Un prophète)',
 'Soul Kitchen',
 'Mother (2010)',
 'Micmacs',
 'The Nutcracker in 3D',
 'Sea Rex 3D: Journey to a Prehistoric World',
 'I Hate Luv Storys',
 'Extraordinary Measures',
 'Somewhere',
 "Winter's Bone",
 'The Last Station',
 'Raajneeti',
 'Made in Dagenham',
 'Blue Valentine',
 'Tamara Drewe',
 'Chloe',
 'Looking for Eric',
 "The Warrior's Way",
 'I Am Love',
 'Jonah Hex',
 'Harry Brown',
 'Cyrus',
 'Conviction',
 'Get Low',
 'Babies',
 'Stone',
 'Peepli Live',
 'Never Let Me Go',
 'Mid-August Lunch',
 'MacGruber',
 'City Island',
 'Inside Job',
 'The Joneses',
 'Centurion',
 'Animal Kingdom',
 'Nowhere Boy',
 "It's Kind of a Funny Story",
 'Waiting for "Superman"',
 'Greenberg',
 'Coco Chanel & Igor Stravinsky',
 'Vincere',
 'The Illusionist (2010)',
 'Exit Through the Gift Shop',
 'Mademoiselle Chambon',
 'Solitary Man',
 'Rabbit Hole',
 'Vision',
 'Mother and Child',
 'The Runaways',
 'Four Lions',
 'Wild Grass',
 'Please Give',
 'Monsters',
 'Rare Exports: A Christmas Tale',
 'The Killer Inside Me',
 'The Perfect Game',
 'To Save a Life',
 'Inspector Bellamy',
 'Catfish',
 'Wild Target',
 'Outside the Law (Hors-la-loi)',
 'Frozen (2010)',
 'Dabangg',
 'Kites',
 'Letters to God',
 'Twelve',
 'Tees Maar Khan',
 'Fish Tank',
 'Housefull',
 'Golmaal 3',
 'After.Life',
 'Cairo Time',
 'Flipped',
 'Guzaarish',
 'Ondine',
 'Anjaana Anjaani',
 'John Rabe',
 'Restrepo',
 'Raavan',
 'The City of Your Final Destination',
 "It's a Wonderful Afterlife",
 'Ajami',
 'Army of Crime',
 'Lebanon',
 'Howl',
 'Videocracy',
 "When You're Strange",
 'The Salvation Poem (Poema de Salvacion)',
 'Casino Jack',
 'Leaving',
 'Khatta Meetha',
 'We Are Family',
 'Leaves of Grass',
 'North Face',
 'Creation',
 'No One Knows About Persian Cats',
 'Carlos',
 'Hideaway (Le Refuge)',
 'The Disappearance of Alice Creed',
 'Break Ke Baad',
 'Veer (2010)',
 'Life During Wartime',
 'Enter the Void',
 'The Secret of Kells',
 'The Polar Express (IMAX re-issue 2010)',
 'No Problem',
 'All Good Things',
 'Jack Goes Boating',
 'Holy Rollers',
 'Chain Letter',
 'I Spit on Your Grave',
 "I'm Still Here",
 'Salt of this Sea',
 'Undertow (2010)',
 'Father of My Children',
 'The Greatest (2010)',
 'The Extra Man',
 'Tiny Furniture',
 'Dogtooth',
 'Grease (Sing-a-Long re-issue)',
 'The Tempest',
 'The Good Heart',
 'Formosa Betrayed',
 'Red Hill',
 'Welcome to the Rileys',
 'A Woman, A Gun and A Noodle Shop',
 'The Girl on the Train',
 'Mesrine: Public Enemy No. 1',
 '44 Inch Chest',
 'Karthik Calling Karthik',
 'Last Train Home',
 'Eyes Wide Open',
 'Waste Land',
 'South of the Border',
 'Human Centipede',
 'Lovely, Still',
 'The Girl (Flickan)',
 'Sweetgrass',
 'Bitch Slap',
 'Chance Pe Dance',
 'Client 9: The Rise and Fall of Eliot Spitzer',
 'Casino Jack and the United States of Money',
 "Perrier's Bounty",
 'Around a Small Mountain',
 'Spring Fever',
 'The Eclipse',
 "George A. Romero's Survival of the Dead",
 'The Romantics',
 'Celine: Through the Eyes of the World',
 'Freakonomics',
 'Saint John of Las Vegas',
 'Band Baaja Baaraat',
 'White Lion',
 'Kisses',
 'Waking Sleeping Beauty',
 'Enemies of the People',
 'Badmaash Company',
 'Hadewijch',
 'Alamar',
 'As Good as Dead',
 'Inhale',
 'Hatchet 2',
 'District B13: Ultimatum',
 'GasLand',
 'Boogie Woogie',
 'Come Undone (2010)',
 'The Red Baron',
 'Bluebeard',
 'Daddy Longlegs',
 'Living in Emergency',
 'Nenette',
 'Picture Me',
 'The Thorn in the Heart',
 'The Taqwacores',
 'Cherry',
 'Terkel in Trouble',
 'Kimjongilia',
 'Aashayein (Wishes)',
 'Harry Potter and the Deathly Hallows Part 2',
 'Transformers: Dark of the Moon',
 'Pirates of the Caribbean: On Stranger Tides',
 'The Twilight Saga: Breaking Dawn Part 1',
 'Mission: Impossible - Ghost Protocol',
 'Kung Fu Panda 2',
 'Fast Five',
 'The Hangover Part II',
 'The Smurfs',
 'Cars 2',
 'Puss in Boots',
 'Sherlock Holmes: A Game of Shadows',
 'Rio',
 'Rise of the Planet of the Apes',
 'Thor',
 'The Adventures of Tintin',
 'Captain America: The First Avenger',
 'X-Men: First Class',
 'Alvin and the Chipmunks: Chipwrecked',
 'Real Steel',
 'Bridesmaids',
 'Super 8',
 'Rango',
 'The Girl with the Dragon Tattoo (2011)',
 'The Green Hornet',
 'Immortals',
 'Green Lantern',
 'The Help',
 'Bad Teacher',
 'Just Go With It',
 'Battle: Los Angeles',
 'Horrible Bosses',
 'Paranormal Activity 3',
 'Gnomeo and Juliet',
 "Mr. Popper's Penguins",
 'Hugo',
 'The Lion King (in 3D)',
 'Hop',
 'War Horse',
 'The Descendants',
 'Cowboys & Aliens',
 'In Time',
 'Zookeeper',
 'The Muppets',
 'Limitless',
 'Johnny English Reborn',
 'Final Destination 5',
 'Tower Heist',
 'Midnight in Paris',
 'Happy Feet Two',
 'I Am Number Four',
 'Jack and Jill',
 'Friends with Benefits',
 'No Strings Attached',
 'Arthur Christmas',
 'Source Code',
 'Crazy, Stupid, Love.',
 "New Year's Eve",
 'Contagion',
 'The Artist',
 'The Three Musketeers (2011)',
 'Unknown',
 'The Adjustment Bureau',
 'We Bought a Zoo',
 'Water for Elephants',
 'The Iron Lady',
 'Moneyball',
 'Sanctum',
 'Justin Bieber: Never Say Never',
 'Paul',
 'Scream 4',
 'Insidious',
 'The Rite',
 'Dolphin Tale',
 'Season of the Witch',
 'Sucker Punch',
 'Red Riding Hood',
 'Spy Kids: All the Time in the World',
 'J. Edgar',
 'Hall Pass',
 'Big Mommas: Like Father, Like Son',
 'Abduction',
 'Tinker, Tailor, Soldier, Spy',
 'Priest',
 'Drive (2011)',
 'The Mechanic',
 'The Ides of March',
 'The Change-Up',
 'The Lincoln Lawyer',
 'Diary of a Wimpy Kid: Rodrick Rules',
 'Larry Crowne',
 'The Dilemma',
 'The Darkest Hour',
 'Hanna',
 'Footloose (2011)',
 'Elite Squad: The Enemy Within',
 'Colombiana',
 'Something Borrowed',
 'One Day',
 'Beginning of the Great Revival',
 'Killer Elite',
 'Extremely Loud & Incredibly Close',
 'The Tree of Life',
 "Tyler Perry's Madea's Big Happy Family",
 'Detective Dee and the Mystery of the Phantom Flame',
 'Winnie the Pooh',
 'Conan the Barbarian (2011)',
 'Soul Surfer',
 'War of the Arrows',
 'Arthur (2011)',
 'The Debt',
 'Beastly',
 'Of Gods and Men',
 'Born to Be Wild (IMAX)',
 'Evangelion 2.0: You Can (Not) Advance',
 'Fright Night (2011)',
 '30 Minutes or Less',
 'The Roommate',
 'Shark Night 3D',
 'Monte Carlo',
 '50/50',
 'Mars Needs Moms',
 'Dream House',
 'Jumping the Broom',
 "Don't Be Afraid of the Dark",
 'RA One',
 'A Very Harold & Kumar 3D Christmas',
 'My Week with Marilyn',
 'The Sitter',
 'Jane Eyre',
 'Courageous',
 'Shaolin',
 'African Cats',
 'The Skin I Live In',
 "I Don't Know How She Does It",
 "What's Your Number?",
 'Drive Angry',
 'Carnage (2011)',
 'A Dangerous Method',
 'The Thing (2011)',
 'The Eagle',
 'Legend of the Fist: The Return of Chen Zhen',
 'Apollo 18',
 'Biutiful',
 'Your Highness',
 'Our Idiot Brother',
 'The Rum Diary',
 'The Women on the 6th Floor',
 'Potiche',
 'Warrior',
 'Young Adult',
 "Sarah's Key",
 'The Way Back',
 'A Separation',
 'The Guard',
 'Margin Call',
 'Glee The 3D Concert Movie',
 'Shame',
 '13 Assassins',
 'Hoodwinked Too! Hood vs. Evil',
 'The Heir Apparent: Largo Winch',
 'The Last Godfather',
 'Delhi Belly',
 'Melancholia',
 'Judy Moody and the NOT Bummer Summer',
 'The Conspirator',
 'Anonymous',
 'Ip Man 2: Legend of the Grandmaster',
 'The Housemaid',
 'Desert Flower',
 'Pina',
 'Beginners',
 'My Afternoons with Margueritte',
 'I Saw the Devil',
 'The Hedgehog',
 'Gainsbourg: A Heroic Life',
 'The Warring States',
 'What Women Want (Wo Zhi Nu Run Xin)',
 'Snow Flower and the Secret Fan',
 'Win Win',
 'Flying Monsters',
 'City of Life and Death',
 'Le Havre',
 'Straw Dogs (2011)',
 'Prom',
 'In a Better World',
 'Trespass (2011)',
 'Saving Private Perez',
 'Point Blank',
 'Winter in Wartime',
 "Barney's Version (U.S. only)",
 'Outrage (2011)',
 'Senna',
 'Last Night',
 'The Big Year',
 'The Beaver',
 'Take Me Home Tonight',
 'Cedar Rapids',
 'The Princess of Montpensier',
 'Cave of Forgotten Dreams',
 'Sex and Zen 3D: Extreme Ecstasy',
 'We Need to Talk About Kevin',
 'Attack the Block',
 'Even the Rain',
 'Young Goethe in Love',
 '11-11-11',
 'Certified Copy',
 'Thank You (2011)',
 'The Company Men',
 'Force',
 'Tucker & Dale Vs. Evil',
 'London Boulevard',
 'Dylan Dog: Dead of Night',
 'The Names of Love',
 'The Way',
 'Burke and Hare',
 "King of Devil's Island",
 'Bride Flight',
 'Trollhunter',
 'Buck',
 'Carancho',
 'Like Crazy',
 'The Double',
 'Don 2',
 'Love Crime',
 'Incendies (U.S. only)',
 'Martha Marcy May Marlene',
 'Fireflies in the Garden',
 "The King's Speech (PG-13)",
 'Machine Gun Preacher',
 'The Last Circus',
 'From Prada to Nada',
 'Flypaper',
 'Zindagi Na Milegi Dobara',
 'Take Shelter',
 'The Greatest Miracle',
 'Rapt',
 'Pastorela',
 'The Double Hour',
 'Everything Must Go',
 '3 (2011)',
 'Oranges and Sunshine',
 'Ong Bak 3',
 'Poetry',
 'The Tree',
 'The Butcher, the Chef and the Swordsman',
 'The Trip (2011)',
 'Armadillo',
 'Bodyguard',
 'Brighton Rock',
 'A Somewhat Gentle Man',
 'The Topp Twins: Untouchable Girls',
 'Another Earth',
 'A Better Life',
 'Chalet Girl',
 'Yamla Pagla Deewana',
 'Bill Cunningham New York',
 'The Art of Getting By',
 "The Devil's Double",
 'Uncle Boonmee Who Can Recall His Past Lives',
 'The Whistleblower',
 'Red State',
 'London River',
 'Desi Boyz',
 'When We Leave (Die Fremde)',
 'There Be Dragons',
 'Vanishing on 7th Street',
 'Page One: A Year Inside the New York Times',
 'The Time That Remains',
 'Rockstar (2011)',
 "Meek's Cutoff",
 'Texas Killing Fields',
 'Ready',
 'Miral',
 'Submarine',
 'Higher Ground',
 "Mozart's Sister",
 'Plastic Planet',
 'Chillar Party',
 'Mausam',
 'The First Grader',
 'Hobo With a Shotgun',
 'Tabloid',
 'Dhobi Ghat (Mumbai Diaries)',
 'Aarakshan (Reservation)',
 'POM Wonderful Presents: The Greatest Movie Ever Sold',
 'No One Killed Jessica',
 'Korkoro',
 'Blackthorn',
 'How I Ended This Summer',
 'The Ledge',
 'Heartbeats',
 'The Future',
 'Dum Maaro Dum',
 'Double Dhamaal',
 'Kaboom',
 'Mere Brother Ki Dulhan',
 'Weekend (2011)',
 'Protektor',
 'Circumstance',
 'The Other Woman',
 'Project Nim',
 'Rage (Rabia)',
 'The Human Resources Manager',
 'Hesher',
 '7 Khoon Maaf',
 'Another Happy Day',
 'Singham',
 'The Mill and the Cross',
 'Super',
 "L'Amour Fou",
 "Being Elmo: A Puppeteer's Journey",
 'In the Land of Blood and Honey',
 'Special Treatment',
 'Illegal (2011)',
 'The Interrupters',
 'Rascals',
 'The Black Power Mix Tape: 1967-1975',
 'Black Death',
 'Le Quattro Volte',
 'Life in a Day',
 'Caterpillar',
 'Little Girl (La Pivellina)',
 'El Bulli: Cooking in Progress',
 'If I Want to Whistle, I Whistle',
 'Into the Abyss',
 'HappyThankYouMorePlease',
 'The Robber',
 "Henry's Crime",
 'A Good Old Fashioned Orgy',
 'Film Socialisme',
 'Bol',
 'Leap Year (2011)',
 'A Screaming Man',
 'Jig',
 'Nostalgia for the Light',
 'Anchor Baby',
 'Bellflower',
 'Restless (2011)',
 'Road to Nowhere',
 'Magic Trip',
 'Eames: The Architect and the Painter',
 'Revenge of the Electric Car',
 'The Human Centipede 2: Full Sequence',
 'Cold Weather',
 'Game (2011)',
 '1911',
 'Life, Above All',
 'Tomboy (2011)',
 'Octubre',
 'The Arbor',
 'Mysteries of Lisbon',
 'Vidal Sassoon: The Movie',
 'Trust (2011)',
 'Steve Jobs: The Lost Interview',
 'Rubber',
 'The Man Who Fell to Earth (35th anniversary re-issue)',
 'Chalo Dilli',
 'The Whale',
 'Beautiful Boy',
 'Puncture',
 'A Beautiful Life',
 'Tuesday, After Christmas',
 'Viva Riva!',
 'Murder 2',
 'Dirty Girl',
 'Battleship Potemkin (2011 re-issue)',
 'Love U Mr. Kalakaar',
 'Margaret',
 'Happy, Happy',
 'The Myth of the American Sleepover',
 'Hell and Back Again',
 'Khodorkovsky',
 'Sleeping Beauty (2011) (II)',
 'My Kingdom (2011)',
 'Love in Space',
 'Stake Land',
 'Brotherhood (2011)',
 'The Son of No One',
 'Muran',
 'The Sleeping Beauty',
 'Tyrannosaur',
 'Ceremony',
 "I'm Glad My Mother is Alive",
 'Always Kabhi Kabhi',
 'Empire of Silver',
 '5 Days of War',
 'Aurora',
 'Magic to Win',
 'Wrecked',
 'My Piece of the Pie',
 'I Melt With You',
 'My Joy',
 'To Die Like a Man',
 'Blood Ties',
 'Knuckle',
 'Main Street',
 'Love, Wedding, Marriage',
 'An Invisible Sign',
 "Marvel's The Avengers",
 'Skyfall',
 'The Dark Knight Rises',
 'The Hobbit: An Unexpected Journey',
 'Ice Age: Continental Drift',
 'The Twilight Saga: Breaking Dawn Part 2',
 'The Amazing Spider-Man',
 "Madagascar 3: Europe's Most Wanted",
 'The Hunger Games',
 'MIB 3',
 'Life of Pi',
 'Ted',
 'Brave',
 'Wreck-It Ralph',
 'Les Miserables (2012)',
 'The Intouchables (U.S.-only)',
 'Django Unchained',
 'Prometheus',
 'Snow White and the Huntsman',
 'Taken 2',
 'Hotel Transylvania',
 "Dr. Seuss' The Lorax",
 'Titanic 3D',
 'Journey 2: The Mysterious Island',
 'The Expendables 2',
 'Rise of the Guardians',
 'Wrath of the Titans',
 'Battleship',
 'John Carter',
 'The Bourne Legacy',
 'Lincoln',
 'Dark Shadows',
 'Resident Evil: Retribution',
 'Silver Linings Playbook',
 'American Reunion',
 'Argo',
 'Jack Reacher',
 'Safe House',
 '21 Jump Street',
 'Total Recall (2012)',
 'The Vow',
 'Mirror Mirror',
 'The Impossible',
 'The Dictator',
 'Looper',
 'Magic Mike',
 'Flight',
 'Underworld Awakening',
 'This Means War',
 'The Secret World of Arrietty',
 'Paranormal Activity 4',
 'Step Up Revolution',
 'The Best Exotic Marigold Hotel',
 'Zero Dark Thirty',
 'Ghost Rider: Spirit of Vengeance',
 'Cloud Atlas',
 'The Woman in Black',
 'Chronicle (2012)',
 'The Pirates! Band of Misfits',
 'Parental Guidance',
 'Abraham Lincoln: Vampire Hunter',
 'Pitch Perfect',
 'Hope Springs',
 'ParaNorman',
 'The Campaign',
 'Let the Bullets Fly',
 'Star Wars: Episode I - The Phantom Menace (in 3D)',
 'Project X',
 'The Devil Inside',
 'The Lucky One',
 'Contraband',
 'Think Like a Man',
 'This Is 40',
 'The Inbetweeners Movie',
 'The Possession',
 "What to Expect When You're Expecting",
 'The Thieves',
 'Savages (2012)',
 'Frankenweenie',
 'Act of Valor',
 'Masquerade (2012)',
 'Sinister',
 'The Grey',
 'Diary of a Wimpy Kid: Dog Days',
 'To Rome with Love',
 'Here Comes the Boom',
 'Finding Nemo (3D)',
 'Anna Karenina',
 'The Watch',
 'Moonrise Kingdom',
 "Tyler Perry's Madea's Witness Protection",
 'The Cabin in the Woods',
 'Beauty and the Beast (3D)',
 'Rock of Ages',
 "That's My Boy",
 'The Odd Life of Timothy Green',
 'The Three Stooges',
 'The Five-Year Engagement',
 'Lawless',
 'Silent Hill: Revelation 3D',
 'Red Tails',
 'Monsters, Inc. (3D)',
 'Trouble with the Curve',
 'Little White Lies',
 'End of Watch',
 'Man on a Ledge',
 'Red Dawn (2012)',
 'House at the End of The Street',
 'The Guilt Trip',
 'A Werewolf Boy',
 'Safe (2012)',
 'Killing Them Softly',
 'Chernobyl Diaries',
 'One For the Money',
 'Dredd',
 "Tyler Perry's Good Deeds",
 'Arbitrage',
 'Chimpanzee',
 'Alex Cross',
 'Salmon Fishing in the Yemen',
 'Fetih 1453: The Conquest of Constantinople',
 'Cirque Du Soleil: Worlds Away',
 'The Perks of Being a Wallflower',
 'Haywire',
 'Katy Perry: Part of Me',
 'Lockout',
 'Joyful Noise',
 'Premium Rush',
 'The Raven',
 'Rowdy Rathore',
 'Dragon (2012)',
 'Bol Bachchan',
 'The Master',
 'Rust and Bone',
 'Big Miracle',
 'Sparkle (2012)',
 'To the Arctic (IMAX)',
 'Hitchcock',
 'A Thousand Words',
 'Wanderlust',
 'Beasts of the Southern Wild',
 'Polisse',
 'Amour',
 'The Man with the Iron Fists',
 'Solomon Kane',
 'Seven Psychopaths',
 'Gone',
 'Norwegian Wood',
 'The Cold Light of Day',
 'My Way (2012)',
 'Tomorrow When the War Began',
 'We Have a Pope',
 'Headhunters',
 'Hit and Run',
 'War of the Buttons (2012)',
 'Red Lights (2012)',
 'The Words',
 'Playing for Keeps',
 'Silent House',
 'Friends with Kids',
 "The Well-Digger's Daughter",
 'Klown',
 'People Like Us',
 'Seeking Justice',
 'Bachelorette',
 'This Must Be the Place',
 'Fun Size',
 'Rec 3: Genesis',
 'Delicacy',
 'Seeking a Friend for the End of the World',
 'The Apparition',
 'For Greater Glory',
 'Hysteria',
 'Bernie',
 'The Sessions',
 'Ruby Sparks',
 'Hyde Park on Hudson',
 'On the Road',
 'Boy (2012)',
 'Piranha 3DD',
 'Easy Money (2012)',
 'Space Dogs 3D',
 'Bel Ami',
 'Promised Land (2012)',
 'Iron Sky',
 'Casa De Mi Padre',
 'Heroine',
 'A Royal Affair',
 'All Together',
 'My Worst Nightmare',
 'The Collection',
 'Monsieur Lazhar (U.S.-only)',
 'Goon',
 'Cosmopolis',
 'Chasing Mavericks',
 'Declaration of War',
 'Puella Magi Madoka Magica the Movie',
 'Albert Nobbs',
 'In Darkness',
 "Won't Back Down",
 'Farewell My Queen',
 'The Tall Man',
 'Girl in Progress',
 'Jeff, Who Lives at Home',
 'Barbara',
 'The Raid: Redemption',
 'Keith Lemon: The Film',
 'Safety Not Guaranteed',
 'Nitro Circus the Movie 3D',
 'Lula, Son of Brazil',
 'The Lady',
 'Branded',
 "The Rabbi's Cat",
 'Searching for Sugar Man',
 'Killer Joe',
 'Hara-Kiri: Death of a Samurai',
 'Robot & Frank',
 'Raiders of the Lost Ark (IMAX)',
 'Celeste and Jesse Forever',
 'Jab Tak Hai Jaan',
 'Intruders',
 'Talaash',
 'Barfi!',
 'A Simple Life',
 'Samsara',

In [20]:
recent_gross_df = gross_df[gross_df['year'] >= 2013]
display(recent_gross_df.head())

,title,studio,domestic_gross,foreign_gross,year
1127,Frozen,BV,400700000.0,875700000,2013
1128,Iron Man 3,BV,409000000.0,805800000,2013
1129,Despicable Me 2,Uni.,368100000.0,602700000,2013
1130,The Hobbit: The Desolation of Smaug,WB (NL),258399999.0,700000000,2013
1131,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013

In [24]:
len(movie_basics['primary_title'].unique())

136071

In [25]:
movie_basics['primary_title'].value_counts()

Home                                  24
Broken                                20
The Return                            20
Alone                                 16
Homecoming                            16
                                      ..
Acting Together on the World Stage     1
Les petits maîtres du grand hôtel      1
Mississippi Turntup                    1
La película de nuestra vida            1
Love Struck                            1
Name: primary_title, Length: 136071, dtype: int64

In [26]:
recent_gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
1127,Frozen,BV,400700000.0,875700000,2013
1128,Iron Man 3,BV,409000000.0,805800000,2013
1129,Despicable Me 2,Uni.,368100000.0,602700000,2013
1130,The Hobbit: The Desolation of Smaug,WB (NL),258399999.0,700000000,2013
1131,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013

In [27]:
recent_gross_df.sort_values(by='year',ascending=False)

,title,studio,domestic_gross,foreign_gross,year
3386,An Actor Prepares,Grav.,1700.0,NaN,2018
3183,On the Basis of Sex,Focus,24600000.0,13600000,2018
3176,Tyler Perry's Acrimony,LGF,43500000.0,2900000,2018
3177,Mary Queen of Scots,Focus,16500000.0,29900000,2018
3178,The Possession of Hannah Grace,SGem,14800000.0,28200000,2018
...,...,...,...,...,...
1363,Kill Your Darlings,SPC,1000000.0,NaN,2013
1364,Short Term 12,Cdgm.,1000000.0,NaN,2013
1365,Ginger & Rosa,A24,1000000.0,NaN,2013
1366,Lore,MBox,970000.0,NaN,2013
1127,Frozen,BV,400700000.0,875700000,2013

In [28]:
movie_basics.sort_values(by='start_year', ascending=False).head(20)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
89506,tt5174640,100 Years,100 Years,2115,NaN,Drama
96592,tt5637536,Avatar 5,Avatar 5,2027,NaN,"Action,Adventure,Fantasy"
2949,tt10300398,Untitled Star Wars Film,Untitled Star Wars Film,2026,NaN,Fantasy
52213,tt3095356,Avatar 4,Avatar 4,2025,NaN,"Action,Adventure,Fantasy"
105187,tt6149054,Fantastic Beasts and Where to Find Them 5,Fantastic Beasts and Where to Find Them 5,2024,NaN,"Adventure,Family,Fantasy"
2948,tt10300396,Untitled Star Wars Film,Untitled Star Wars Film,2024,NaN,None
2483,tt10255736,Untitled Marvel Project,Untitled Marvel Project,2023,NaN,Action
16337,tt1757678,Avatar 3,Avatar 3,2023,NaN,"Action,Adventure,Drama"
2906,tt10298848,Untitled Disney Live-Action Project,Untitled Disney Live-Action Project,2023,NaN,None
106865,tt6258542,Wraith of the Umbra and Eidolon II,Wraith of the Umbra and Eidolon II,2023,NaN,"Adventure,Drama,Fantasy"
111226,tt6495056,Untitled Illumination Entertainment Project,Untitled Illumination Entertainment Project,2023,NaN,None
821,tt10042446,Untitled Disney Marvel Film,Untitled Disney Marvel Film,2022,NaN,Action
2765,tt10288908,The Weary Traveler,The Weary Traveler,2022,NaN,Horror
2947,tt10300394,Untitled Star Wars Film,Untitled Star Wars Film,2022,NaN,None
130618,tt8097030,Untitled Pixar Animation Project,Untitled Pixar Animation Project,2022,NaN,Animation
4382,tt10407798,Nepotism Kingdom,Nepotism Kingdom,2022,120.0,"Action,Drama,Thriller"
105186,tt6149052,Fantastic Beasts and Where to Find Them 4,Fantastic Beasts and Where to Find Them 4,2022,NaN,"Adventure,Family,Fantasy"
2905,tt10298840,Untitled Disney Animation Project,Untitled Disney Animation Project,2022,NaN,None
129337,tt7974630,Untitled Star Wars Project,Untitled Star Wars Project,2022,NaN,Sci-Fi
130616,tt8097016,Untitled Disney Marvel Film,Untitled Disney Marvel Film,2022,NaN,Action

In [ ]:
recent_imdb_movies =

# Organized data wrangling
what dataframes are used and how we cleaned data

## SUMMARY
Our project will consider these datasets: 'tn.movie_budgets.csv.gz' and 'im.db'


Our standard for "success" of a film is the money it makes (Revenue).
Variables that may influence the "success" of a film:

- Director
- Domestic Gross Revenue
- Worldwide Gross Revenue
- Foreign Gross Revenue
- Release Date


- Average Vote Rating
- Vote Count
- Popularity
- Genre


Project will:

# Method for cleaning dataframes and making new ones

## Cleaning budgets_df

In [ ]:
budgets_df = pd.read_csv('data/zipped_files/tn.movie_budgets.csv.gz')
display(budgets_df.head())
display(budgets_df.info())

In [ ]:
#getting rid of dollar signs and commas in budgets_df and convertting budget_df['domestic_gross'] from str to int
budgets_df['production_budget'] = (budgets_df['production_budget'].str.replace('$', '')
                                   .str.replace(',', '').astype(int))
budgets_df['production_budget']

In [ ]:
#getting rid of dollar signs and commas in budgets_df and convertting budget_df['domestic_gross'] from str to int
budgets_df['domestic_gross'] = budgets_df['domestic_gross'].str.replace('$', '').str.replace(',', '').astype(int)
budgets_df['domestic_gross']

In [ ]:
#getting rid of dollar signs and commas in budgets_df and convertting budget_df['domestic_gross'] from str to int
budgets_df['worldwide_gross'] = budgets_df['worldwide_gross'].str.replace('$', '').str.replace(',', '').astype(int)
budgets_df['worldwide_gross']

In [ ]:
#making a foreign_gross column
budgets_df['foreign_gross'] = budgets_df['worldwide_gross'] - budgets_df['domestic_gross']
budgets_df.head()

In [ ]:
#import datetime
from datetime import datetime

In [ ]:
# convert budgets_df['release_date'] to date time object 
budgets_df['clean_release_date'] =  pd.to_datetime(budgets_df['release_date'], infer_datetime_format=True)
budgets_df.head()

In [ ]:
# convert budgets_df['release_date'] to date time object 
budgets_df['release_year'] =  pd.to_datetime(budgets_df['release_date'], infer_datetime_format=True).dt.year
budgets_df.head()

## Cleaning movie_aka

In [30]:
movie_akas = pd.read_sql("""

SELECT *
FROM movie_akas

""", conn)

display(movie_akas.head())
display(movie_akas.info())

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   movie_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

None

In [31]:
imdb_all_movie_names = pd.read_sql("""

SELECT DISTINCT l.movie_id, l.title, r.primary_title, r.original_title
FROM movie_akas AS l
INNER JOIN movie_basics AS r
    ON l.movie_id = r.movie_id

""",conn)

imdb_all_movie_names

,movie_id,title,primary_title,original_title
0,tt0369610,Джурасик свят,Jurassic World,Jurassic World
1,tt0369610,Jurashikku warudo,Jurassic World,Jurassic World
2,tt0369610,Jurassic World: O Mundo dos Dinossauros,Jurassic World,Jurassic World
3,tt0369610,O Mundo dos Dinossauros,Jurassic World,Jurassic World
4,tt0369610,Jurassic World,Jurassic World,Jurassic World
...,...,...,...,...
266864,tt9755806,Большая Акула,Big Shark,Big Shark
266865,tt9827784,Sayonara kuchibiru,Farewell Song,Sayonara kuchibiru
266866,tt9827784,Farewell Song,Farewell Song,Sayonara kuchibiru
266867,tt9880178,La atención,The Attention,La atención
266868,tt9880178,The Attention,The Attention,La atención

In [87]:
#taking out only movie_id and title columns from movie_akas


movie_akas = pd.read_sql("""

SELECT movie_id, title
FROM movie_akas

""", conn)

movie_akas

         movie_id                                    title
0       tt0369610                            Джурасик свят
1       tt0369610                        Jurashikku warudo
2       tt0369610  Jurassic World: O Mundo dos Dinossauros
3       tt0369610                  O Mundo dos Dinossauros
4       tt0369610                           Jurassic World
...           ...                                      ...
331698  tt9827784                       Sayonara kuchibiru
331699  tt9827784                            Farewell Song
331700  tt9880178                              La atención
331701  tt9880178                              La atención
331702  tt9880178                            The Attention

[331703 rows x 2 columns]

In [50]:
# attach each possible movie title with their respective movie id,
# lets us look up the potentially mismatched titles from budgets_df
# doesn't need to be distinguished into original_ or primary_title
# beyond this

movie_akas = pd.read_sql("""

SELECT DISTINCT movie_id, title 
FROM movie_akas

""",conn)

movie_akas

         movie_id                                    title
0       tt0369610                            Джурасик свят
1       tt0369610                        Jurashikku warudo
2       tt0369610  Jurassic World: O Mundo dos Dinossauros
3       tt0369610                  O Mundo dos Dinossauros
4       tt0369610                           Jurassic World
...           ...                                      ...
266864  tt9755806                            Большая Акула
266865  tt9827784                       Sayonara kuchibiru
266866  tt9827784                            Farewell Song
266867  tt9880178                              La atención
266868  tt9880178                            The Attention

[266869 rows x 2 columns]

In [32]:
# Grouping all movie_akas using the movie_id
movie_akas.groupby(by='movie_id').agg(lambda x: list(x))

,ordering,title,region,language,types,attributes,is_original_title
movie_id,,,,,,,
tt0063540,"[1, 2, 3, 4, 5]","[Sangharsh, Sunghursh, Sunghursh, Sunghursh, S...","[IN, None, IN, IN, IN]","[hi, None, None, hi, hi]","[None, original, None, None, None]","[alternative transliteration, None, None, alte...","[0.0, 1.0, 0.0, 0.0, 0.0]"
tt0066787,"[1, 2, 3, 4]","[One Day Before the Rainy Season, Ashad Ka Ek ...","[XWW, IN, None, None]","[en, None, None, None]","[None, None, None, original]","[None, None, None, None]","[0.0, 0.0, 0.0, 1.0]"
tt0069049,"[10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[La otra cara del viento, Druga strona wiatru,...","[VE, PL, DE, PT, BR, US, GB, IT, RU, AR, ES, N...","[None, None, None, None, None, None, None, Non...","[None, imdbDisplay, imdbDisplay, imdbDisplay, ...","[None, None, None, None, None, None, None, Non...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
tt0069204,"[1, 2, 3]","[Subse Bada Sukh, The Greatest Happiness, Sabs...","[IN, IN, None]","[bn, en, None]","[None, None, original]","[None, None, None]","[0.0, 0.0, 1.0]"
tt0100275,"[1, 2, 3, 4, 5]","[La Telenovela Errante, The Wandering Soap Ope...","[None, XWW, CL, CL, PL]","[None, en, None, None, None]","[original, imdbDisplay, None, None, imdbDisplay]","[None, None, None, informal alternative title,...","[1.0, 0.0, 0.0, 0.0, 0.0]"
...,...,...,...,...,...,...,...
tt9911774,"[1, 2, 3]","[Padmavyuhathile Abhimanyu, Pathmavyuhathile A...","[None, IN, IN]","[None, ml, ml]","[original, None, None]","[None, alternative spelling, alternative spell...","[1.0, 0.0, 0.0]"
tt9913248,"[1, 2, 3]","[Nepal - Homebird, Nepal - Homebird, Népal - À...","[None, AT, None]","[None, None, None]","[original, None, None]","[None, None, None]","[1.0, 0.0, 0.0]"
tt9914254,"[1, 2, 3]","[Kirsebæreventyret, A Cherry Tale, Kirsebæreve...","[None, XWW, DK]","[None, en, None]","[original, imdbDisplay, None]","[None, None, None]","[1.0, 0.0, 0.0]"
tt9915436,"[1, 2]","[Life in Movement, Vida em Movimento]","[US, None]","[None, None]","[alternative, original]","[None, None]","[0.0, 1.0]"
tt9916170,"[1, 2, 3]","[O Ensaio, The Rehearsal, O Ensaio]","[BR, XWW, None]","[None, en, None]","[None, imdbDisplay, original]","[None, None, None]","[0.0, 0.0, 1.0]"

In [53]:
# list-ifys the movie titles and movie IDs 
movie_akas_list = list(movie_akas['title'])
movie_ids_list = list(movie_akas['movie_id'])
display(movie_akas_list[:5])
display(movie_ids_list[:5])

['Джурасик свят',
 'Jurashikku warudo',
 'Jurassic World: O Mundo dos Dinossauros',
 'O Mundo dos Dinossauros',
 'Jurassic World']

['tt0369610', 'tt0369610', 'tt0369610', 'tt0369610', 'tt0369610']

In [54]:
#adding movie_ids to budgets_df

budgets_df['movie_id'] = [movie_ids_list[movie_akas_list.index( title )] if title in movie_akas_list 
                          else None for title in budgets_df['movie']]
budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,foreign_gross,release_year,clean_release_date,movie_id
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2015837654,2009,2009-12-18,tt1775309
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,804600000,2011,2011-05-20,tt1298650
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,107000000,2019,2019-06-07,tt6565702
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,944008095,2015,2015-05-01,tt2395427
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,696540365,2017,2017-12-15,None
...,...,...,...,...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000,0,0,0,2018,2018-12-31,tt7837402
5778,79,"Apr 2, 1999",Following,6000,48482,240495,192013,1999,1999-04-02,None
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338,0,2005,2005-07-13,None
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,0,0,0,2015,2015-09-29,tt2107644
5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041,0,2005,2005-08-05,None

In [59]:
budgets_df.isna().sum()

id                       0
release_date             0
movie                    0
production_budget        0
domestic_gross           0
worldwide_gross          0
foreign_gross            0
release_year             0
clean_release_date       0
movie_id              3280
dtype: int64

In [60]:
#dropping na from budgets_df [movie_id]
budgets_df.dropna(subset=["movie_id"],axis=0,inplace=True)

## Cleaning movie_basics

In [56]:
movie_basics = pd.read_sql("""

SELECT *
FROM movie_basics

""", conn)

display(movie_basics.head())
display(movie_basics.info())

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

None

In [57]:
# Making our sample for onlly the past 10 years

recent_imdb_movies = pd.read_sql("""
SELECT * 
FROM movie_basics
WHERE CAST(start_year AS int) BETWEEN 2013 AND 2023
""", conn)

recent_imdb_movies

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
107597,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
107598,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
107599,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
107600,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
107601,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [58]:
# sorting table by years ascending
recent_imdb_movies.sort_values('start_year')

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
17314,tt2971400,Loving Memory,Loving Memory,2013,NaN,Drama
17313,tt2971388,308,308,2013,121.0,"Horror,Mystery,Thriller"
17312,tt2971128,"River Deep, Mountain High: James Nesbitt in Ne...","River Deep, Mountain High: James Nesbitt in Ne...",2013,NaN,Documentary
17311,tt2970792,Wechselspiel,Wechselspiel,2013,73.0,Drama
...,...,...,...,...,...,...
5999,tt1757678,Avatar 3,Avatar 3,2023,NaN,"Action,Adventure,Drama"
74209,tt6495056,Untitled Illumination Entertainment Project,Untitled Illumination Entertainment Project,2023,NaN,None
2392,tt10298848,Untitled Disney Live-Action Project,Untitled Disney Live-Action Project,2023,NaN,None
70264,tt6258542,Wraith of the Umbra and Eidolon II,Wraith of the Umbra and Eidolon II,2023,NaN,"Adventure,Drama,Fantasy"
1984,tt10255736,Untitled Marvel Project,Untitled Marvel Project,2023,NaN,Action

In [ ]:
budgets_df.dropna(subset=["movie_id"],axis=0,inplace=True)

## combining persons and directors so that we know person's name

In [33]:
persons = pd.read_sql("""

SELECT *
FROM persons

""", conn)

persons

display(persons.head())
display(persons.info())

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   person_id           606648 non-null  object
 1   primary_name        606648 non-null  object
 2   birth_year          82736 non-null   float64
 3   death_year          6783 non-null    float64
 4   primary_profession  555308 non-null  object
dtypes: float64(2), object(3)
memory usage: 23.1+ MB

None

In [47]:
directors = pd.read_sql("""

SELECT *
FROM directors

""", conn)

directors

display(directors.head())
display(directors.info())

    movie_id  person_id
0  tt0285252  nm0899854
1  tt0462036  nm1940585
2  tt0835418  nm0151540
3  tt0835418  nm0151540
4  tt0878654  nm0089502

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291174 entries, 0 to 291173
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movie_id   291174 non-null  object
 1   person_id  291174 non-null  object
dtypes: object(2)
memory usage: 4.4+ MB

None

In [49]:
# create imdb_directors with director names and movie IDs
imdb_directors = pd.read_sql("""
SELECT d.movie_id, p.primary_name FROM directors as d
LEFT JOIN persons AS p
    ON d.person_id = p.person_id
GROUP BY d.movie_id
""", conn)

imdb_directors.head()

    movie_id          primary_name
0  tt0063540   Harnam Singh Rawail
1  tt0066787             Mani Kaul
2  tt0069049          Orson Welles
3  tt0069204  Hrishikesh Mukherjee
4  tt0100275     Valeria Sarmiento

In [46]:
directors_names = pd.read_sql("""

SELECT DISTINCT l.person_id, r.primary_title, r.original_title
FROM directors AS l
INNER JOIN movie_basics AS r
    ON l.movie_id = r.movie_id

""",conn)

directors_names

,person_id,primary_title,original_title
0,nm0899854,Life's a Beach,Life's a Beach
1,nm1940585,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story
2,nm0151540,The Babymakers,The Babymakers
3,nm0089502,Bulletface,Bulletface
4,nm2291498,Bulletface,Bulletface
...,...,...,...
163282,nm10122357,Madre Luna,Madre Luna
163283,nm6711477,The woman and the river,The woman and the river
163284,nm10123242,Stone Mountain Georgia 08.28.18,Stone Mountain Georgia 08.28.18
163285,nm10123248,Stone Mountain Georgia 08.28.18,Stone Mountain Georgia 08.28.18
163286,nm4993825,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm